@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 120,175,227;
  --accentcolor2: 255,115,250;
  --linkcolor: 0,176,244;
  --mentioncolor: 223,167,231;
  --textbrightest: 216,222,233;
  --textbrighter: 222,222,222;
  --textbright: 194,199,209;
  --textdark: 129,133,139;
  --textdarker: 108,111,116;
  --textdarkest: 86,88,93;
  --font: Fantasque Sans Mono;
  --backgroundaccent: 0,0,0;
  --backgroundprimary: 0,0,0;
  --backgroundsecondary: 0,0,0;
  --backgroundsecondaryalt: 0,0,0;
  --backgroundtertiary: 0,0,0;
  --backgroundfloating: 0,0,0;
  --settingsicons: 1;
}

/* Any custom CSS below here */
